@use './components/' as *;

html {
	font-size: 62.5%;
	background-color: $background;
}

.body {
	position: relative;
	font-size: 1rem;
	background-color: $background;
	&--stuck {
		overflow: hidden;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	&__container {
		position: relative;
		padding: 2.2em 2em;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
	}
	&__logo {
		display: flex;
		align-items: center;
	}
	&__hamburger {
		padding-block: 0.75em;
		border: none;
		background-color: transparent;
	}
	&__links {
		display: none;
	}
	&__link {
		padding: 0.8em;
		&--btn {
			margin-top: 1em;
		}
	}
	&__popup {
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4em;
		width: 100vw;
		height: 100vh;
		background-color: $background;
		transition: translate 0.5s;
		&--hidden {
			translate: 100%;
		}
	}
}

.header {
	margin-top: 79px;
	padding: 2.4em 0 8em;
	overflow: hidden;
	&__title,
	&__text,
	&__btn {
		margin-inline: auto;
	}
	&__title,
	&__text {
		position: relative;
		max-width: 335px;
		text-align: center;
	}
	&__text {
		padding: 1.34em 0 2.67em;
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 0.625em;
	}
	&__arrow,
	&__circle {
		display: none;
	}
}

.slider {
	margin-bottom: 8em;
	height: 259px;
	background-color: $slider;
}

@media (min-width: 576px) {
	.body {
		&--stuck {
			overflow: visible;
		}
	}
	.nav {
		&__hamburger {
			display: none;
		}
		&__links {
			display: flex;
			align-items: center;
			gap: 4em;
		}
		&__link {
			&--btn {
				margin-top: 0;
				margin-left: 0.8em;
			}
		}
		&__popup {
			display: none;
		}
	}
	.header {
		margin-top: 104px;
		padding: 9.2em 0 17.4em;
		&__title {
			max-width: 961px;
		}
		&__text {
			max-width: 471px;
		}
	}
	.slider {
		margin-bottom: 12em;
		height: 259px;
		background-color: $slider;
	}
}

@media (min-width: 992px) {
	.header {
		&__arrow {
			display: block;
			position: absolute;
			top: -25px;
			right: -150px;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__circle {
			display: block;
			position: absolute;
			border-radius: 50%;
			background-size: cover;
			transition: scale 0.3s;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #000000, $alpha: 0.1);
				z-index: 10;
				transition: background-color 0.3s;
			}
			&:hover::after {
				background-color: transparent;
			}
			&--big {
				left: 0;
				width: 144px;
				height: 144px;
				background-image: url('../img/healthcare.png');
				&:hover {
					scale: 2.125;
				}
			}
			&--small {
				top: 50%;
				right: -100px;
				width: 122px;
				height: 122px;
				background-image: url('../img/underground.png');
				&:hover {
					scale: 2.5;
				}
			}
		}
	}
}
