@use './components/' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding: 15em;
	background-color: $background;
}

.body {
	position: relative;
	font-size: 1rem;
	background-color: $background;
	&--stuck {
		overflow: hidden;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	&__container {
		position: relative;
		padding: 2.2em 2em;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
	}
	&__logo {
		max-width: 35px;
		display: flex;
		align-items: center;
	}
	&__hamburger {
		padding-block: 0.75em;
		border: none;
		background-color: transparent;
	}
	&__links {
		display: none;
	}
	&__link {
		padding: 0.8em;
		&--btn {
			margin-top: 1em;
		}
	}
	&__popup {
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4em;
		width: 100vw;
		height: 100vh;
		background-color: $background;
		transition: translate 0.5s;
		&--hidden {
			translate: 100%;
		}
	}
}

.header {
	margin-top: 79px;
	padding: 2.4em 0 8em;
	overflow: hidden;
	&__title,
	&__text,
	&__btn {
		position: relative;
		margin-inline: auto;
	}
	&__title,
	&__text {
		max-width: 335px;
		text-align: center;
	}
	&__arrow,
	&__circle {
		display: none;
	}
	&__text {
		padding: 1.34em 0 2.67em;
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 0.625em;
	}
}

.slider {
	margin-bottom: 8em;
	padding: 32px 0;
	display: flex;
	gap: 16px;
	width: 100%;
	height: 260px;
	overflow-x: scroll;
	background-color: $btn-index;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	&__element {
		height: 100%;
		border-radius: 6px;
	}
}

.case-studies {
	padding-bottom: 8.8em;
	&__header {
		padding-bottom: 4.8em;
	}
	&__cards {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		row-gap: 4.8em;
	}
	&__card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-inline: auto;
		padding: 1.6em 1.6em 1.8em;
		border-radius: 8px;
		max-width: 588px;
		aspect-ratio: 1/1.2;
		background-size: cover;
		overflow: hidden;
		&--background {
			position: absolute;
			top: 50%;
			left: 50%;
			width: initial;
			height: 100%;
			max-width: none;
			translate: -50% -50%;
			transition: transform 0.5s, opacity 0.5s;
			opacity: 0.8;
			&:hover {
				transform: scale(1.2);
				transform-origin: 50% 50%;
				opacity: 1;
			}
		}

		&--tag {
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			padding: 0.8em 1.6em;
			border-radius: 2em;
			@include blur(10px, 0.1);
			&:last-child {
				margin-right: 0;
			}
		}
		&--description {
			padding: 2.4em;
			border-radius: 12px;
			@include blur(30px, 0.15);
		}
		&--title {
			margin-bottom: 0.25em;
		}
	}
}

.know-me-better {
	padding-bottom: 8.8em;
	&__container {
		display: grid;
		gap: 4em;
	}
	&__description {
		padding-block: 0.9em 0.25em;
	}
	&__workplaces {
		padding-top: 4em;
		display: flex;
		gap: 1.6em;
	}
	&__img {
		position: relative;
		display: grid;
		align-self: center;
		justify-self: center;
		width: 100%;
		max-width: 570px;
		&--bart {
			position: relative;
			width: 100%;
		}
		&--ux,
		&--ui {
			box-sizing: content-box;
			position: absolute;
			width: 22%;
			padding: 3%;
			border-radius: 12px;
			backdrop-filter: blur(16px);
			background: rgba(255, 255, 255, 0.05);
			z-index: 100;
		}
		&--ux {
			top: 15%;
			right: 5%;
		}
		&--ui {
			left: 8%;
			bottom: 15%;
		}
	}
}

.contact-me {
	&__cards {
		position: relative;
		padding-top: 4em;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 1.5em;
		z-index: 1;
	}
	&__card {
		position: relative;
		display: block;
		padding: 50px 0;
		border-radius: 16px;
		background-image: $btn-index;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.9);
		}
		&-content {
			position: absolute;
			top: 1px;
			left: 1px;
			bottom: 1px;
			right: 1px;
			border-radius: 16px;
			background-color: $card;
		}
		&-textbox {
			position: absolute;
			top: 50%;
			left: 88px;
			transform: translateY(-50%);
		}
		&-title {
			position: relative;
			font-weight: 600;
		}
		&-icon {
			position: absolute;
			top: 50%;
			left: -16px;
			transform: translate(-100%, -50%);
		}
		&--orange {
			background-image: $border;
		}
	}
}

.footer {
	padding: 14.6em 0 6.4em;
	&__content {
		text-align: center;
	}
	&__text {
		padding-bottom: 0.35em;
	}
}

@media (min-width: 576px) {
	.body {
		&--stuck {
			overflow: visible;
		}
	}
	.nav {
		&__hamburger {
			display: none;
		}
		&__links {
			display: flex;
			align-items: center;
			gap: 4em;
		}
		&__link {
			&--btn {
				margin-top: 0;
				margin-left: 0.8em;
			}
		}
		&__popup {
			display: none;
		}
	}
	.header {
		margin-top: 104px;
		padding: 7.2em 0 13.5em;
		&__title {
			max-width: 961px;
		}
		&__text {
			max-width: 471px;
		}
	}
	.slider {
		margin-bottom: 13.5em;
	}
	.case-studies {
		padding-bottom: 12em;
		&__card {
			border-radius: 16px;
		}
	}
	.know-me-better {
		padding-bottom: 16.2em;
	}
}
@media (min-width: 768px) {
	.case-studies {
		&__cards {
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			column-gap: 3.2em;
			row-gap: 4.4em;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__arrow {
			display: block;
			position: absolute;
			top: -25px;
			right: -150px;
		}
	}
	.know-me-better {
		&__container {
			grid-template-columns: repeat(2, 1fr);
			gap: 0;
		}
		&__text {
			align-self: center;
		}
		&__img {
			justify-self: flex-end;
		}
	}
	.footer {
		padding: 16em 0 6.4em;
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__text {
			padding-bottom: 0;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__circle {
			display: block;
			position: absolute;
			border-radius: 50%;
			background-size: cover;
			transition: scale 0.5s, opacity 0.5s;
			opacity: 0.8;
			&--big {
				left: 0;
				width: 144px;
				height: 144px;
				background-image: url('../img/index/healthcare.png');
				&:hover {
					scale: 2.125;
				}
			}
			&--small {
				top: 50%;
				right: -100px;
				width: 122px;
				height: 122px;
				background-image: url('../img/index/underground.png');
				&:hover {
					scale: 2.5;
				}
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.case-studies {
		&__header {
			padding-bottom: 4.8em;
		}
		&__cards {
			grid-template-columns: repeat(2, 588px);
			justify-content: space-between;
			row-gap: 8.8em;
		}
		&__card {
			margin-inline: 0;
			padding: 2.4em;
		}
	}
	.contact-me {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
