$background: #060624;
$btn-index: #1f1f3b;
$slider: rgba(255, 255, 255, 0.1);
$primary-text: #fff;
$secondary-text: rgba(255, 255, 255, 0.8);
$orange-index: #efac00;
$border: linear-gradient(95.93deg, rgba(229, 175, 74, 0.8) -1.83%, rgba(229, 175, 74, 0.2) 122.44%),
	linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
$card: #12132e; ;
