$background: #060624;
$btn-index: #1f1f3b;
$slider: rgba(255, 255, 255, 0.1);
$primary-text: #fff;
$secondary-text: rgba(255, 255, 255, 0.8);
$orange-index: #efac00;

$border: linear-gradient(107.34deg, rgba(255, 255, 255, 0.4) -11.34%, rgba(255, 255, 255, 0.05) 106.76%);
$card: #0D0E2A;