@use './colors' as *;

.container {
	width: min(calc(100% - 40px), 1240px);
	margin-inline: auto;
}

.btn-index {
	padding: 1em 2em;
	border: 2px solid $btn-index;
	border-radius: 0.75em;
	background-color: $btn-index;
	transition: background-color 0.3s;
	&--block {
		display: block;
		width: max-content;
	}
	&:hover {
		background-color: transparent;
	}
}

@mixin blur($blur, $opacity) {
	backdrop-filter: blur($blur);
	background-color: rgba(5, 6, 35, $opacity);
}
@media (min-width: 576px) {
	.container {
		width: min(calc(100% - 80px), 1240px);
	}
}
